.form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h3 {
  margin-bottom: 1rem;
}
.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: black;
  align-items: center;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: 0.1px solid;
}
.form-inputs {
  width: 75%;
  margin-bottom: 1rem;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}
.form-input-btn {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);

  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}
