.quiz_container {
  display: flex;
  justify-content: center;
}

.app {
  width: 600px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;

  display: block;
  justify-content: space-evenly;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
  color: #f15f22;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn_quiz {
  width: 100%;
  font-size: 16px;
  color: black;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  background-color: #08aeea;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  cursor: pointer;
}
.btn_quiz:hover {
  background-image: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
}
.btn_quiz:focus {
  outline: none;
}

.btn_quiz svg {
  margin-right: 5px;
}
